In [2]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [4]:
now=datetime.now()
now

datetime.datetime(2020, 2, 12, 10, 7, 24, 545222)

In [5]:
now.year, now.month, now.day

(2020, 2, 12)

In [6]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)
delta

datetime.timedelta(926, 56700)

In [7]:
print(delta.days)
print(delta.seconds)

926
56700

In [8]:
start = datetime(2011,1,7)
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start - 2*timedelta(12)

datetime.timedelta(0)

In [11]:
'''
字符串和datetime的相互转换
'''
stamp = datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [12]:
value='2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
datestrs=['7/6/2011','8/6/2011']
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [15]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [19]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [20]:
datestrs

['7/6/2011', '8/6/2011']

In [21]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [22]:
idx=pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

Datetime定义
%Y    1999   year
%y    99     year
%m    [01,12]    month
%d    [01,31]    day
%H    [00,23]    hour(24H)
%I    [01,12]    hour(12H)
%M    [00,59]    minute
%S    [00,61]    second
%w    [0,6]      weekday
%U    [00,53]    week of year(Sunday as 1st day of the week)
%W    [00,53]    week of year(Monday as 1st day of the week)
%z    +HHMM / -HHMM  (UTC timezone)
%F    %Y-%m-%d
%D    %m/%d/%y

日期格式
%a    weekday(Abbe.)
%A    weekday(full)
%b    month(Abbe.)
%B    month(full)
%c    "Tue 01 May 2012 04:20:57 PM"
%p    AM/PM
%x    "05/01/2012"
%X    "04:24:12 PM"

In [23]:
'''
时间序列基础
'''
dates=[datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
      datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
from pandas import Series, DataFrame
ts=Series(np.random.randn(6),index=dates)
ts

2011-01-02   -0.377971
2011-01-05    0.452650
2011-01-07    1.586169
2011-01-08   -0.206540
2011-01-10    0.646702
2011-01-12    0.904503
dtype: float64

In [24]:
type(ts)

pandas.core.series.Series

In [25]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [26]:
ts + ts[::2]

2011-01-02   -0.755943
2011-01-05         NaN
2011-01-07    3.172338
2011-01-08         NaN
2011-01-10    1.293404
2011-01-12         NaN
dtype: float64

In [28]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [29]:
'''
索引，选取，子集构造
'''
stamp = ts.index[2]
ts[stamp]

1.5861692074444427

In [30]:
ts['1/10/2011']

0.6467018227664243

In [32]:
long_ts = Series(np.random.randn(1000), index=pd.date_range('1/1/2000',periods=1000))
long_ts

2000-01-01    1.819305
2000-01-02    0.356558
2000-01-03    1.411360
2000-01-04   -1.585965
2000-01-05   -1.127963
                ...
2002-09-22   -0.635556
2002-09-23   -1.690431
2002-09-24   -0.544306
2002-09-25    0.623674
2002-09-26    0.665687
Freq: D, Length: 1000, dtype: float64

In [33]:
long_ts['2001']

2001-01-01   -0.376469
2001-01-02   -0.162442
2001-01-03   -0.436725
2001-01-04   -2.440525
2001-01-05    3.203855
                ...
2001-12-27    0.968875
2001-12-28   -0.018901
2001-12-29   -0.220555
2001-12-30    1.550873
2001-12-31    1.203194
Freq: D, Length: 365, dtype: float64

In [34]:
ts[datetime(2011,1,7):]

2011-01-07    1.586169
2011-01-08   -0.206540
2011-01-10    0.646702
2011-01-12    0.904503
dtype: float64

In [35]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.586169
2011-01-08   -0.206540
2011-01-10    0.646702
dtype: float64

In [42]:
dates=pd.date_range('1/1/2000',periods = 100,freq='W-WED')
long_df= DataFrame(np.random.randn(100,4),
                   index=dates,
                   columns=['Colorado','Texas','New York','Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.705382  0.238134  0.410385 -0.896139
2001-05-09  1.844831 -0.122203 -0.231019  1.367646
2001-05-16  0.966588 -1.125735  0.416401 -0.687820
2001-05-23  2.164020 -0.738618  0.372889  0.169608
2001-05-30  0.501083 -1.476244  1.072518 -0.844258

In [44]:
'''
带有重复索引的时间序列
'''
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000',
                       '1/2/2000','1/3/2000'])
dup_ts= Series(np.arange(5),index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [46]:
dup_ts.index.is_unique

False

In [47]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [48]:
grouped = dup_ts.groupby(level=0)
grouped.mean()
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [49]:
'''
日期的范围 频率以及移动
'''
ts.resample('D')

In [51]:
index=pd.date_range('4/1/2012','6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range(start='4/1/2012',periods =20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range('1/1/2000','12/1/2000',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [55]:
pd.date_range('5/2/2012 12:56:31', periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [59]:
 '''
 频率和日期偏移量
 '''
from pandas.tseries.offsets import Hour, Minute
hour=Hour()
hour

In [60]:
four_hours= Hour(4)
four_hours

In [61]:
pd.date_range('1/1/2000','1/3/2000 23:59',freq='4h')
Hour(2)+Minute(30)

In [63]:
pd.date_range('1/1/2000',periods =10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [64]:
'''
WOM日期
'''
rng=pd.date_range('1/1/2012','9/1/2012',freq = 'WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [65]:
'''
移动（超前和滞后）数据
'''
ts=Series(np.random.randn(4))
ts

0    0.212018
1   -0.352477
2   -0.711019
3    1.755527
dtype: float64

In [66]:
ts/ts.shift(1)-1

0         NaN
1   -2.662483
2    1.017207
3   -3.469031
dtype: float64

In [69]:
'''
通过偏移量对日期进行位移
'''
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011,11,17)
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [70]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [71]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [72]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [73]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [75]:
ts=Series(np.random.randn(20),
         index=pd.date_range('1/15/2000',periods=20, freq='4d'))
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.306178
2000-02-29   -0.122175
2000-03-31    0.466872
dtype: float64

In [77]:
'''
Time Zone
'''
import pytz
pytz.common_timezones[-5:]
tz=pytz.timezone('US/Eastern')
tz

In [78]:
'''
本地化和转换
'''
rng=pd.date_range('3/9/2012 9:30',periods=6, freq='D')
ts=Series(np.random.randn(len(rng)),index = rng)
print(ts.index.tz)

None

In [79]:
pd.date_range('3/9/2012 9:30',periods=10, freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [80]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -1.979612
2012-03-10 09:30:00+00:00    0.113036
2012-03-11 09:30:00+00:00    0.113080
2012-03-12 09:30:00+00:00    1.086356
2012-03-13 09:30:00+00:00   -1.009740
2012-03-14 09:30:00+00:00   -1.230048
Freq: D, dtype: float64

In [81]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [82]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00   -1.979612
2012-03-10 04:30:00-05:00    0.113036
2012-03-11 05:30:00-04:00    0.113080
2012-03-12 05:30:00-04:00    1.086356
2012-03-13 05:30:00-04:00   -1.009740
2012-03-14 05:30:00-04:00   -1.230048
Freq: D, dtype: float64

In [84]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [85]:
'''
时期及其算术运算
'''
p =pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [86]:
p+5

Period('2012', 'A-DEC')

In [88]:
pd.Period('2014',freq='A-DEC')-p

In [92]:
rng=pd.period_range('1/1/2000','6/30/2000',freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [93]:
Series(np.random.randn(6),index=rng)

2000-01   -0.957560
2000-02   -0.233552
2000-03   -1.507884
2000-04    1.143064
2000-05   -1.231894
2000-06    0.822395
Freq: M, dtype: float64

In [94]:
values=['2001Q3','2002Q2','2003Q1']
index=pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [95]:
'''
时期的频率转换
'''
p=pd.Period('2007',freq='A-DEC')
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [96]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [97]:
p=pd.Period('2007',freq='A-JUN')
p.asfreq('M','start')

Period('2006-07', 'M')

In [98]:
p=pd.Period('2007-08','M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [99]:
rng=pd.period_range('2006','2009',freq='A-DEC')
ts=Series(np.random.randn(len(rng)),index=rng)
ts

2006   -2.285045
2007   -0.867063
2008    0.056716
2009   -0.434766
Freq: A-DEC, dtype: float64

In [100]:
ts.asfreq('M', how='start')

2006-01   -2.285045
2007-01   -0.867063
2008-01    0.056716
2009-01   -0.434766
Freq: M, dtype: float64

In [101]:
ts.asfreq('B',how='end')

2006-12-29   -2.285045
2007-12-31   -0.867063
2008-12-31    0.056716
2009-12-31   -0.434766
Freq: B, dtype: float64

In [102]:
'''
按季度计算的时期频率
'''
p=pd.Period('2012Q4',freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [103]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [104]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [105]:
p4pm=(p.asfreq('B','e')-1).asfreq('T','s')+16*60
p4pm

Period('2012-01-30 16:00', 'T')

In [106]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [107]:
rng=pd.period_range('2011Q3','2012Q4',freq='Q-JAN')
ts = Series(np.arange(len(rng)),index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [108]:
new_rng= (rng.asfreq('B','e')-1).asfreq('T','s')+16*60
ts.index=new_rng.to_timestamp()
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

In [110]:
'''
将timestamp转换为period
'''
rng=pd.date_range('1/1/2000',periods=3,freq='M')
ts=Series(np.random.randn(3),index=rng)
pts=ts.to_period()
ts

2000-01-31   -0.250352
2000-02-29    0.497141
2000-03-31    1.376906
Freq: M, dtype: float64

In [111]:
pts

2000-01   -0.250352
2000-02    0.497141
2000-03    1.376906
Freq: M, dtype: float64

In [113]:
rng=pd.date_range('1/29/2000',periods=6,freq='D')
ts2=Series(np.random.randn(6),index=rng)
ts2.to_period('M')

2000-01    1.354672
2000-01    0.690269
2000-01   -1.080863
2000-02   -0.330473
2000-02    2.393989
2000-02   -0.911341
Freq: M, dtype: float64

In [115]:
pts=ts.to_period()
pts

2000-01   -0.250352
2000-02    0.497141
2000-03    1.376906
Freq: M, dtype: float64

In [116]:
pts.to_timestamp(how='end')

2000-01-31 23:59:59.999999999   -0.250352
2000-02-29 23:59:59.999999999    0.497141
2000-03-31 23:59:59.999999999    1.376906
Freq: M, dtype: float64

In [121]:
'''
重采样及频率转换
'''
rng=pd.date_range('1/1/2000',periods=100,freq='D')
ts=Series(np.random.randn(len(rng)),index=rng)
ts.resample('M',kind='period').mean()

2000-01    0.019605
2000-02    0.060855
2000-03   -0.064187
2000-04    0.402420
Freq: M, dtype: float64

In [119]:
'''
降采样
'''
rng=pd.date_range('1/1/2000',periods=12, freq='T')
ts=Series(np.arange(12),index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [122]:
ts.resample('5min').sum()

2000-01-01 00:00:00   -0.542287
2000-01-01 00:05:00    0.000000
2000-01-01 00:10:00    0.000000
2000-01-01 00:15:00    0.000000
2000-01-01 00:20:00    0.000000
                         ...
2000-04-08 23:40:00    0.000000
2000-04-08 23:45:00    0.000000
2000-04-08 23:50:00    0.000000
2000-04-08 23:55:00    0.000000
2000-04-09 00:00:00   -0.342444
Freq: 5T, Length: 28513, dtype: float64

In [123]:
ts.resample('5min',closed='left',label='left').sum()

2000-01-01 00:00:00   -0.542287
2000-01-01 00:05:00    0.000000
2000-01-01 00:10:00    0.000000
2000-01-01 00:15:00    0.000000
2000-01-01 00:20:00    0.000000
                         ...
2000-04-08 23:40:00    0.000000
2000-04-08 23:45:00    0.000000
2000-04-08 23:50:00    0.000000
2000-04-08 23:55:00    0.000000
2000-04-09 00:00:00   -0.342444
Freq: 5T, Length: 28513, dtype: float64

In [126]:
ts.resample('5min', loffset='-1s').sum()

1999-12-31 23:59:59   -0.542287
2000-01-01 00:04:59    0.000000
2000-01-01 00:09:59    0.000000
2000-01-01 00:14:59    0.000000
2000-01-01 00:19:59    0.000000
                         ...
2000-04-08 23:39:59    0.000000
2000-04-08 23:44:59    0.000000
2000-04-08 23:49:59    0.000000
2000-04-08 23:54:59    0.000000
2000-04-08 23:59:59   -0.342444
Freq: 5T, Length: 28513, dtype: float64

In [129]:
'''
OHLC resample
'''
ts.resample('5min').ohlc()

                         open      high       low     close
2000-01-01 00:00:00 -0.542287 -0.542287 -0.542287 -0.542287
2000-01-01 00:05:00       NaN       NaN       NaN       NaN
2000-01-01 00:10:00       NaN       NaN       NaN       NaN
2000-01-01 00:15:00       NaN       NaN       NaN       NaN
2000-01-01 00:20:00       NaN       NaN       NaN       NaN
...                       ...       ...       ...       ...
2000-04-08 23:40:00       NaN       NaN       NaN       NaN
2000-04-08 23:45:00       NaN       NaN       NaN       NaN
2000-04-08 23:50:00       NaN       NaN       NaN       NaN
2000-04-08 23:55:00       NaN       NaN       NaN       NaN
2000-04-09 00:00:00 -0.342444 -0.342444 -0.342444 -0.342444

[28513 rows x 4 columns]

In [130]:
'''
通过groupby进行重采样
'''
rng=pd.date_range('1/1/2000',periods=100,freq='D')
ts=Series(np.arange(100),index=rng)
ts.groupby(lambda x:x.month).mean()

1    15
2    45
3    75
4    95
dtype: int32

In [131]:
ts.groupby(lambda x: x.weekday).mean()

0    47.5
1    48.5
2    49.5
3    50.5
4    51.5
5    49.0
6    50.0
dtype: float64

In [132]:
'''
升采样和插值
'''
frame = DataFrame(np.random.randn(2,4),
                 index=pd.date_range('1/1/2000',periods=2, freq='W-WED'),
                 columns=['Colorado','Texas','New York','Ohio'])
frame[:5]

            Colorado     Texas  New York      Ohio
2000-01-05 -0.095323  1.714486  0.174730  0.158296
2000-01-12  1.680567  0.205034  0.904333  1.495251

In [140]:
df_daily= frame.resample('D').ffill()
df_daily

            Colorado     Texas  New York      Ohio
2000-01-01 -0.112642  0.478643 -0.377368  0.735552
2000-01-02 -0.112642  0.478643 -0.377368  0.735552
2000-01-03 -0.112642  0.478643 -0.377368  0.735552
2000-01-04 -0.112642  0.478643 -0.377368  0.735552
2000-01-05 -0.112642  0.478643 -0.377368  0.735552
...              ...       ...       ...       ...
2001-12-27  0.234191 -0.901134  0.055788  0.296604
2001-12-28  0.234191 -0.901134  0.055788  0.296604
2001-12-29  0.234191 -0.901134  0.055788  0.296604
2001-12-30  0.234191 -0.901134  0.055788  0.296604
2001-12-31  0.234191 -0.901134  0.055788  0.296604

[731 rows x 4 columns]

In [139]:
'''
通过时期进行重采样
'''
frame=DataFrame(np.random.randn(24,4),
               index=pd.period_range('1-2000','12-2001',freq='M'),
               columns=['Colorado','Texas','New York','Ohio'])
frame[:5]

         Colorado     Texas  New York      Ohio
2000-01 -0.112642  0.478643 -0.377368  0.735552
2000-02  0.865050 -2.253283  1.957066  0.735739
2000-03 -1.219864 -0.020996 -0.731161 -3.281359
2000-04 -0.806646  1.149854  0.585871  1.260046
2000-05  1.418910  2.453634  1.530584  1.051602

In [141]:
annual_frame = frame.resample('A-DEC').mean()
annual_frame

      Colorado     Texas  New York      Ohio
2000  0.127643 -0.085654 -0.149515  0.085069
2001  0.050425 -0.049280  0.054606  0.317762

In [142]:
annual_frame.resample('Q-DEC').ffill()

        Colorado     Texas  New York      Ohio
2000Q1  0.127643 -0.085654 -0.149515  0.085069
2000Q2  0.127643 -0.085654 -0.149515  0.085069
2000Q3  0.127643 -0.085654 -0.149515  0.085069
2000Q4  0.127643 -0.085654 -0.149515  0.085069
2001Q1  0.050425 -0.049280  0.054606  0.317762
2001Q2  0.050425 -0.049280  0.054606  0.317762
2001Q3  0.050425 -0.049280  0.054606  0.317762
2001Q4  0.050425 -0.049280  0.054606  0.317762

In [143]:
annual_frame.resample('Q-DEC',convention='start').ffill()

        Colorado     Texas  New York      Ohio
2000Q1  0.127643 -0.085654 -0.149515  0.085069
2000Q2  0.127643 -0.085654 -0.149515  0.085069
2000Q3  0.127643 -0.085654 -0.149515  0.085069
2000Q4  0.127643 -0.085654 -0.149515  0.085069
2001Q1  0.050425 -0.049280  0.054606  0.317762
2001Q2  0.050425 -0.049280  0.054606  0.317762
2001Q3  0.050425 -0.049280  0.054606  0.317762
2001Q4  0.050425 -0.049280  0.054606  0.317762